name: Dump
 #
on:
  push:
    paths-ignore:
      - '*.md'
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkouts
         uses: actions/checkout@v2

       - name: Clone Dumpyara
         run: |
              if [ -f "private.txt" ]
              then
                  git clone https://github.com/mirrordump/dumpyara.git -b private
              else
                  git clone https://github.com/mirrordump/dumpyara.git
              fi
              
       - name: Setup Dumpyara environment
         working-directory: dumpyara
         run: |
              sudo bash setup.sh
              git config --global user.name "mirrordump"
              git config --global user.email "mirrordump@mymail.infos.st"

       - name: Setup config envs
         working-directory: dumpyara
         run: |
              echo "${{ secrets.GIT_TOKEN }}" > .githubtoken
              echo "${{ secrets.GIT_ORG_NAME }}" > .github_orgname
              echo "${{ secrets.BOT_TOKEN }}" > .tgtoken
              echo "${{ secrets.CHAT_ID }}" > .tgchannel  #or chat group example: @box_dumps
# make sure to change git credentials as in https://github.com/mirrordump/dumpyara/commit/19016994794424b5d88c2e28add1924567b28c38
       - name: Running Dumpyara
         working-directory: dumpyara
         run: |
              git branch
#
env:
  ROM_URL: http://bigota.d.miui.com/V11.0.2.0.NCFCNXM/mido_images_V11.0.2.0.NCFCNXM_20191107.0000.00_7.0_cn_07679911aa.tgz
