name: Dump

on:
  push:
    paths-ignore:
      - '*.md'
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkouts
         uses: actions/checkout@v2

       - name: Clone Dumpyara
         run: |
              git clone --depth=1 --single-branch https://github.com/saurajbot/phoenix_firmware_dumper.git
              git clone --depth=1 --single-branch https://github.com/noobyysauraj/android_tools
              T_CID=$(cat temp/ch_id.txt)
              T_MID=$(cat temp/msg_id.txt)
              echo "$T_CID" > phoenix_firmware_dumper/.tg_cid 
              echo "$T_MID" > phoenix_firmware_dumper/.tg_mid
          
              
              
              
       - name: Setup Dumpyara environment
         working-directory: phoenix_firmware_dumper
         run: |
              sudo bash setup.sh

       - name: Setup config envs And Begin Dump
         working-directory: phoenix_firmware_dumper       
         run: |
              GITHUB_ORG_NAME="dump-sauraj"
              GITLAB_ORG_NAME="sauraj-dumps"
              GITLAB_USERNAME="ksauraj"
              GITHUB_USERNAME="saurajbot"
              GIT_CONFIG_USERNAME="saurajbot"
              GIT_CONFIG_EMAIL="rommirrorer@gmail.com"
              GIT_GITHUB_TOKEN="${{ secrets.GIT_GITHUB_TOKEN }}"
              GITLAB_TOKEN="${{ secrets.GITLAB_TOKEN }}"
              TG_BOT_TOKEN="${{ secrets.TG_BOT_TOKEN }}"
              TG_CHAT_ID="@saurajdumps"
              GITLAB_HOSTNAME="gitlab.com" ## use 'gitlab.com' by default, or use your own github instance, or any public one
              echo "$GITHUB_ORG_NAME" > .github_orgname
              echo "$GITLAB_HOSTNAME" > .gitlab_instance
              echo "$GIT_GITHUB_TOKEN" > .github_token
              echo "$GITLAB_ORG_NAME" > .gitlab_orgname
              echo "$GITLAB_USERNAME" > .gitlab_username
              echo "$GITHUB_USERNAME" > .github_username
              echo "$GITLAB_TOKEN" > .gitlab_token
              echo "$TG_BOT_TOKEN" > .tg_token
              echo "$TG_CHAT_ID" > .tg_chat
              echo "1297553238" > .tg_chat_id
              export GIT_TOKEN=${{ secrets.GIT_GITHUB_TOKEN }}
              export TG_API=${{ secrets.TG_BOT_TOKEN }}
              #Do Not Edit This
              git config --global user.name "$GIT_CONFIG_USERNAME"
              git config --global user.email "$GIT_CONFIG_EMAIL"
              sed -i s/"DroidDumps@github.com"/"$GIT_CONFIG_EMAIL"/g dumper.sh
              sed -i s/"user.name \"DroidDumps\""/"user.name \"$GIT_CONFIG_USERNAME\""/g dumper.sh
              mkdir -p "$HOME"/dump
              mkdir -p "$HOME"/telegram
              sudo bash dumper.sh "$ROM_URL"
              cd ../android_tools
              chmod +x setup.sh
              sudo bash setup.sh
              export GIT_TKN=${{ secrets.GIT_GITHUB_TKN }}
              export TG_API=${{ secrets.TG_BOT_TOKEN }}
              sudo ./tools/dummy_dt.sh /home/runner/work/dumper/dumper/dumped

       - name: Send Dump to Telegram
         shell: bash
         run: |
              echo "$TOKEN" > .tg_token
              source util.sh
              zip -r9 Dumped.zip dumped/
              T_CID=$(cat temp/ch_id.txt)
              T_MID=$(cat temp/msg_id.txt)
              tg --replyflie "$T_CID" "$T_MID" "Dumper.zip"


##########
env:
  ROM_URL: https://gauss-componentotacostmanual-in.allawnofs.com/remove-c4ff62e9828b2f72d9d7ac8c9a8fe7d3/component-ota/23/01/10/5c16bec94edc428886a8d9a49dcf18bb.zip
